html {
    background-color: #FEF9FF;
}

/*Elements */

body {
    font-family:Arial, Helvetica, sans-serif;
}

header {
    background-color: #32343c;
    width: auto;
    height: 100px;
    display: flex;
    padding-top: 8px;
    align-items:center;
    justify-content: space-between;
}

nav {
    text-align: end;
    flex-wrap: wrap;
    padding-right: 60px;
    width: auto;
}

nav a {
    color: #9ecacc;  
    text-decoration: none;
    border-bottom: solid #9ecacc;
    border-bottom-width: 4px;
    padding: 4px 8px;
    margin: 4px;
    font-size: 24px;
}

article {
    height: 200px;
    background-image: url("Images/Hero Image.jpg");
    position: relative;
    background-size: contain;
    
}

img {
    opacity: 0.65;
}

img:hover {
    opacity: 1.0;
}

section {
    display:flex;
    padding-right: 60px;
    margin: 32px 0px;
}

aside {
    text-align: right;
    min-width: 240px;
    border-right-color: #32343c;
    border-right: 4px solid;
    padding-right: 16px;
    margin-right: 24px;
    margin-left: 60px;
    float: left;
}

p {
    margin: 4px 0px;
}

/* Text */

h1 {
    font-size: 60px;  
    color:#32343c;
    margin: 4px 0px;
    width:240px;
}

h2 {
    font-size: 40px;
    color: #32343c;
    margin: 4px;
}

h3, h5 {
    margin: 8px;
    color: #32343c;
}

footer {
    width: auto;
    height: 100px;
    display: flex;
    padding-top: 32px;
    align-items: center;
    
    
    
}

/* IDs*/

#hero-box {
    background-color:#9Ecacc;
    padding: 4px;
    margin: 0px;
    display: inline-block;
    position: absolute;
    bottom: 24px;
    right: 60px;  
}

#nav-text {
    font-size: 60px;  
    color:#32343c;
    margin: 4px 0px;
}

#footer-nav {
    text-align: end;
    flex-wrap: wrap;
    padding-right: 60px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#footer-nav a {
    color: #32343c;  
    text-decoration: none;
    border-bottom: solid #32343c;border-width: 4px;
    padding: 4px 8px;
    margin: 4px;
    font-size: 24px;
}

/* Classes */

.main-projects {
    display:flex;
    
}

.mini-projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    
}

.big-card {
    position: relative;
    margin-bottom: 32px;
    width:100%;
    
}

.big-card img {
    object-fit:fill;
    max-height: 600px;
    width: 100%;
    display: block;
    border-width: 4px;
    border-style: solid;
    border-color: #9Ecacc;
}

.small-card {
    position: relative;
    margin-bottom: 32px;
    width: 48%;
    
}

.small-card img {
    object-fit: cover;
    border-width: 4px;
    border-style: solid;
    border-color: #9Ecacc;
    display:block;
    flex-wrap: wrap;
    width: 100%;
    max-height: 200px;
}

.label-box {
    background-color:#9Ecacc;
    padding: 8px;
    margin: 0px;
    text-align: left;
    display: inline-block;
    position:absolute;
    bottom: 30px;
}

.header-logo {
    background-color: #9Ecacc;
    height: 80%;
    width: 20%;
    line-height: 80px;
    top: 8px;
    text-align: right;
    display: inline-block;
    min-width: 360px;
    padding-right: 16px;
    padding-left: 60px;
}

/* Media Queries */

@media screen and (max-width: 768px) {
    .mini-projects {
      flex-direction: column;
      width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    .small-card {
      width: 100%;
    }
  }

  @media screen and (max-width: 1010px) {
    aside {
      margin-left: 32px;
    }
  }

  @media screen and (max-width: 768px) {
    aside {
      margin-left: 16px;
    }
  }
// 
  @media screen and (max-width: 1010px) {
    nav,
    header {
      flex-direction: column;
      
    }
  }